/* Table of Content */
/* -------------------- */
/* 1. Imports */
/* 2. Reset */
/* 3. General */
/* 4. Main Container */
/* 5. Header */
/* 6. Slider */
/* 7. Page General */
/* 8. Mission Section & Services */
/* 9. Adopt Section */
/* 10. Foster Section */
/* 11. Educate Section */
/* 12. Stripe */
/* 13. Contact Section */
/* 14. Footer Section */
/* 15. Animal Section */
/* 16 Shop Section */
/* -------------------- */
/* 1. Imports & Clears */

.header:after, .links:after, .menu:after, .slider:after, .mission:after, .mission .help ul:after, .adopt .group:after, .adopt .group div a:after, .adopt .single:after, .adopt .button-group:after, .foster:after, .donate:after, .types .container:after, .donate-box:after, .progress-bar:after, .price-box:after, .volunteers .flex-viewport ul:after, .button-holder:after, .educate:after, .sponsors:after, .sponsors ul:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}

/* 2. Reset */
/* -------------------- */
body, h1, h2, h3, h4, h5, h6, ul, li, form, div, p, input, textarea, select, dl, dd, dt, ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

/* 3. General */
/* -------------------- */
body {
    background: #fefdfb;
    font: 14px "Open Sans", sans-serif;
    color: #878787;
    text-align: center;
}

h1, h2, h3 {
    font: 2.5rem "Grand Hotel", cursive;
    color: #009a3e;
    margin-bottom: 30px;
}

h4, h5, h6 {
    color: #afbb71;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
}

div {
    width: auto;
    height: auto;
    margin: 0 auto;
}

a, a:hover {
    text-decoration: none;
    color: #afbb71;
    outline: none;
}

p, dl {
    margin-bottom: 25px;
}

button, button:focus, button:visited {
    outline: none;
}

/* 4. Main Container */
/* -------------------- */
.main-container {
    text-align: left;
    overflow: hidden;
}

.main-container .container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 5. Header */
/* -------------------- */
.header {
    z-index: 2;
    position: relative;
    background: url("/../img/halfcircle_pattern.png") center bottom repeat-x;
    padding-bottom: 5px;
    text-align: center;
}

@media all and (min-width: 992px) {
    .header {
        padding-bottom: 0;
    }
}

.header h1 {
    display: inline-block;
    margin-top: 45px;
    margin-bottom: 20px;
}

@media all and (max-width: 760px) {
    .header h1 {
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }
}

.header h1 img {
    max-width: 275px;
    height: auto;
    max-height: 150px;
    display: block;
    text-indent: -99999px;
}

@media all and (min-width: 1200px) {
    .header i {
        font-size: 1.4rem;
    }
}

@media all and (max-width: 760px) {
    .header h1 a {
        display: inline-block;
    }
}

.header .contacts li {
    font: 1rem "Grand Hotel", cursive;
    color: #262626;
    letter-spacing: 0.1em;
}

.links {
    justify-content: center;
    border-top: 1px solid #e3e3e3;
    padding: 30px 0;
}

@media all and (max-width: 760px) {
    .links {
        padding: 20px 0;
    }
}

@media all and (max-width: 760px) {
    .menu {
        margin: 10px 0;
    }
}

.menu li {
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 10px;
}

@media all and (max-width: 760px) {
    .menu li {
        margin: 0 10px;
    }
}

.menu li a {
    color: #262626;
    letter-spacing: .2em;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu li a:hover {
    color: #00903c;
}

.menu li.active a {
    color: #da251c;
}

.navbar {
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: none;
        justify-content: center;
        margin: 0;
    }
}

/* 6. Slider */
/* -------------------- */
.slider {
    z-index: 1;
    position: relative;
    background: #00903c url("../img/paw_pattern.png");
    margin-top: -18px;
}

.slider .container {
    position: relative;
    max-width: 100%;
}

@media all and (max-width: 990px) {
    .slider .container {
        width: 100%;
    }
}

.slider .container ul {
    z-index: 3;
}

.slider .container ul.bg-image li {
    min-height: 550px;
    position: relative;
}

.slider .container ul.center-overimage {
    text-align: center;
}

.slider .container ul.center-overimage .item {
    color: #afbb71;
}

.slider .container ul.center-overimage .item span {
    color: #fefdfb;
}

.slider .container li {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slider .container .item {
    padding: 200px 0;
    width: 70%;
    position: relative;
    text-transform: uppercase;
    font-size: 27px;
    color: #262626;
    font-family: "Montserrat", sans-serif;
    line-height: 50px;
}

@media all and (max-width: 1400px) {
    .slider .container .item {
        width: 92%;
        font-size: 24px;
    }
}

@media all and (max-width: 1160px) {
    .slider .container .item {
        width: 96%;
        font-size: 21px;
    }
}

.slider .container .item span {
    font-family: "Grand Hotel", cursive;
    font-size: 130px;
    text-transform: none;
    color: #fefdfb;
}

.slider .container .item span a {
    color: #fefdfb;
    font-size: 92px;
}

@media all and (max-width: 1400px) {
    .slider .container .item span {
        font-size: 110px;
    }
}

@media all and (max-width: 1160px) {
    .slider .container .item span {
        font-size: 80px;
    }
}

.slider .container .item img {
    position: absolute;
    bottom: 0;
    right: 0;
}
@media all and (max-width: 1200px) {
    .slider .container .item img {
        width: 39%;
    }
}

@media all and (max-width: 996px) {
    .slider .container .item img {
        width: 47%;
    }
    .slider .container .item span a {
        color: #fefdfb;
        font-size: 60px;
    }
}

@media all and (max-width: 576px) {
    .slider .container .item img {
        display: none;
    }

    .slider .container .item span {
        font-size: 60px;
    }
}

.slider .flex-control-nav.flex-control-paging {
    position: absolute;
    z-index: 5;
    cursor: pointer;
    bottom: 20px;
    list-style-type: none;
    height: 10px;
    width: 100%;
    text-align: center;
}

.slider .flex-control-nav.flex-control-paging li {
    display: inline-block;
    margin: 0 5px;
}

.slider .flex-control-nav.flex-control-paging li a {
    display: block;
    width: 10px;
    height: 10px;
    text-indent: -9999px;
    background: #fefdfb;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-clip: padding-box;
}

.slider .flex-control-nav.flex-control-paging li a:hover, .slider .flex-control-nav.flex-control-paging li a.flex-active {
    background: #262626;
}

.flex-direction-nav {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    margin: -15px 0 0;
}

.flex-direction-nav li {
    padding: 0;
}

.flex-direction-nav li:before {
    display: none;
}

.flex-direction-nav a {
    font-family: FontAwesome;
    font-size: 3em;
    font-weight: 700;
    color: #ffd5cc;
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    width: 20px;
    height: 30px;
}

.flex-direction-nav a.flex-prev:before {
    content: "\f104";
}

.flex-direction-nav a.flex-next:before {
    content: "\f105";
}

.flex-direction-nav a:hover {
    color: #afbb71;
}

.flex-direction-nav .flex-prev {
    left: 0;
}

.flex-direction-nav .flex-next {
    right: 0;
}

/* 7. Page General */
/* -------------------- */
.page {
    z-index: 2;
    background: url("../img/halfcircle_pattern.png") center bottom repeat-x;
    position: relative;
}

.page dl dt, .donate dl dt {
    text-transform: uppercase;
}

.page dl dt, .page dl dd, .donate dl dt, .donate dl dd {
    margin-bottom: 5px;
}

.page dl dd, .donate dl dd {
    padding-left: 24px;
}

.page dl.accordion dt, .donate dl.accordion dt {
    text-transform: none;
    color: #afbb71;
    cursor: pointer;
    margin-bottom: 10px;
}

.page dl.accordion dt:before, .donate dl.accordion dt:before {
    content: "\f078";
}

.page dl.accordion dt.active:before, .donate dl.accordion dt.active:before {
    content: "\f077";
}

.page dl.accordion dd, .donate dl.accordion dd {
    display: none;
}

.page ul, .donate ul {
    margin-bottom: 30px;
}

.page ul li, .donate ul li {
    margin-bottom: 5px;
}

.donate ul li:before, .donate ul dt:before, .donate dl li:before, .donate dl dt:before {
    content: "\f00c";
    font-family: FontAwesome;
    margin-right: 10px;
    color: #afbb71;
}

.donate ul.pagination li:before {
    content: "";
}

.page.top-pattern {
    padding-bottom: 0;
    background: url("../img/halfcircle_pattern2.png") center top repeat-x;
    position: relative;
    z-index: 1;
    margin-top: -18px;
}

.title {
    text-transform: uppercase;
    color: #262626;
    font-weight: bold;
    margin-bottom: 0;
    letter-spacing: .1em;
}

.page .volunteer p {
    text-indent: 40px;
    padding: 0 40px;
}

/* 8. Mission Section & Services */
/* -------------------- */
.mission {
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 1px solid #e3e3e3;
}

.mission p {
    line-height: 24px;
    margin-bottom: 0;
}

.mission p.title {
    font-style: normal;
}

.mission .help {
    margin-top: 40px;
    position: relative;
}

.mission .help ul li {
    display: inline-block;
    width: 210px;
    padding: 150px 0 40px;
    position: relative;
    margin: 0 4%;
    vertical-align: top;
}

.mission .help ul li.home {
    background: url("../img/icon-home-x2.png") top center no-repeat;
    background-size: 131px 131px;
}

.mission .help ul li.love {
    background: url("../img/icon-love-x2.png") top center no-repeat;
    background-size: 131px 131px;
}

.mission .help ul li.food {
    background: url("../img/icon-bowl-x2.png") top center no-repeat;
    background-size: 131px 131px;
}

.mission .help ul li.grooming {
    background: url("../img/icon-grooming-x2.png") top center no-repeat;
    background-size: 131px 131px;
}

.mission .help ul li.health {
    background: url("../img/icon-health-x2.png") top center no-repeat;
    background-size: 131px 131px;
}

.mission .help ul li.training {
    background: url("../img/icon-training-x2.png") top center no-repeat;
    background-size: 131px 131px;
}

.mission .help ul li:before {
    display: none;
    margin: 0;
}

.mission .help ul p {
    color: #afbb71;
    line-height: 20px;
    font-style: normal;
}

.mission .help ul p strong {
    text-transform: uppercase;
    color: #262626;
    letter-spacing: .1em;
}

.mission .help .flex-direction-nav {
    margin: -15px 0 0;
    top: 20%;
}

.mission .help .flex-direction-nav li {
    padding: 0;
    margin: 0;
    width: 100%;
}

.mission .help.flexslider .flex-viewport {
    margin: 0 40px;
}

.mission .help.flexslider .flex-viewport ul li {
    margin: 0 50px 0 0;
    width: auto;
}

.mission .card {
    border-radius: 0;
}

.mission .card img {
    padding: 2%;
    max-height: 250px;
    height: auto;
    max-width: 250px;
}

/* 9. Adopt Section */
/* -------------------- */
.adopt .group {
    text-align: center;
    max-width: 930px;
}

.adopt .group div {
    max-width: 280px;
    max-height: 280px;
    margin: 15px;
    overflow: hidden;
}

.adopt .group div a, .adopt .group div img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.adopt .group div a {
    display: block;
    width: 102%;
    height: 102%;
    position: absolute;
    top: -1%;
    left: -1%;
    background: url("../img/sprite-group-full.png") no-repeat 0 0;
    color: #ffd5cc;
    text-transform: uppercase;
    font-weight: bold;
}

.adopt .group div a:hover {
    background: url("../img/sprite-group-full.png") no-repeat 0 -280px;
}

.adopt .group div a:hover span {
    display: block;
}

.adopt .group div a span {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 94px;
}

.adopt .group div a span:before {
    font-family: FontAwesome;
    content: "\f004";
    display: block;
    margin-bottom: 20px;
    font-size: 1.8em;
}

.adopt .group div img {
    float: left;
    width: 100%;
    height: auto;
}

.adopt .single {
    max-width: 930px;
    padding: 25px 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.adopt .single th {
    color: #afbb71;
}

.adopt .single .close {
    position: absolute;
    top: 0;
    right: 0;
}

.adopt .single .close i {
    color: #ffd5cc;
    font-size: 2em;
}

.adopt .single .close i:hover {
    opacity: .5;
}

.adopt .single .image {
    float: left;
    width: 280px;
    text-align: center;
    margin-right: 30px;
}

.adopt .single .image div {
    width: 280px;
    position: relative;
}

.adopt .single .image div a {
    position: absolute;
    width: 280px;
    height: 280px;
    left: 0;
    background: url("../img/sprite-group-full.png") no-repeat 0 0;
}

.adopt .single .image div a:hover {
    background: url("../img/sprite-group-full.png") no-repeat -281px 0;
}

.adopt .single .image img {
    width: 100%;
    height: auto;
    float: left;
}

.adopt .single .image .button {
    float: none;
    display: inline-block;
    margin-top: 10px;
}

.adopt .button-group {
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    margin-bottom: 20px;
}

.adopt .button-group li {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    margin: 0 15px;
}

.adopt .button-group li a {
    color: #878787;
    line-height: 54px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.adopt .button-group li a:hover, .adopt .button-group li a.active {
    color: #afbb71;
}

.adopt .button-group li:before {
    content: none;
}

.adopt .title span {
    display: block;
    padding-top: 15px;
    text-transform: initial;
}

/* 10. Foster Section */
/* -------------------- */
.foster {
    padding-bottom: 50px;
    border-bottom: 1px solid #e3e3e3;
}

.foster .button-holder {
    margin-bottom: 0;
}

.donate h2, .donate h3, .donate .title, .volunteer h2, .volunteer h3, .volunteer .title, .foster h2, .foster h3, .foster .title, .adopt h2, .adopt h3, .adopt .title {
    text-align: center;
}

.donate h4, .donate h5, .donate h6, .volunteer h4, .volunteer h5, .volunteer h6, .foster h4, .foster h5, .foster h6, .adopt h4, .adopt h5, .adopt h6 {
    color: #878787;
}

.type-of-donation ul, .wish-list ul {
    margin-bottom: 0;
}

/* 10. Donate Section */
/* -------------------- */
.donate {
    text-align: center;
    margin-top: -20px;
    position: relative;
    padding-bottom: 150px;
}

.types .container {
    border: 1px solid #e3e3e3;
    padding: 30px;
    margin-bottom: 30px;
    text-align: left;
}

.types .container h4:first-of-type {
    margin-bottom: 5px;
}

.donate-box {
    text-align: center;
    padding: 130px 0 100px;
    margin-bottom: 30px;
    margin-top: 80px;
    position: relative;
    background: #2a2522;
    background: url("../img/pets-pattern.jpg") repeat 50% 0 fixed;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(32, 28, 27, 0.9)), to(rgba(32, 28, 27, 0.9))), url("../img/pets-pattern.jpg") repeat 50% 0 fixed;
    /* Saf4+, Chrome */
    background: -webkit-linear-gradient(top, rgba(32, 28, 27, 0.9), rgba(32, 28, 27, 0.9)), url("../img/pets-pattern.jpg") repeat 50% 0 fixed;
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(top, rgba(32, 28, 27, 0.9), rgba(32, 28, 27, 0.9)), url("../img/pets-pattern.jpg") repeat 50% 0 fixed;
    /* FF3.6+ */
    background: -ms-linear-gradient(top, rgba(32, 28, 27, 0.9), rgba(32, 28, 27, 0.9)), url("../img/pets-pattern.jpg") repeat 50% 0 fixed;
    /* IE10 */
    background: -o-linear-gradient(top, rgba(32, 28, 27, 0.9), rgba(32, 28, 27, 0.9)), url("../img/pets-pattern.jpg") repeat 50% 0 fixed;
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, rgba(32, 28, 27, 0.9), rgba(32, 28, 27, 0.9)), url("../img/pets-pattern.jpg") repeat 50% 0 fixed;
    /* W3C */
}

.donate-box:before {
    content: "";
    display: block;
    background: url("../img/icon-health-x2.png");
    background-size: 112px 112px;
    width: 112px;
    height: 112px;
    display: block;
    position: absolute;
    top: -56px;
    left: 50%;
    margin-left: -56px;
}

.donate-box .button {
    float: none;
    display: inline-block;
}

#sendmessage, #senderror {
    border: 1px solid #e6e6e6;
    background: #f6f6f6;
    display: none;
    text-align: center;
    padding: 15px 12px 15px 65px;
    margin: 10px 0;
    font-weight: 600;
    margin-bottom: 30px;
}

#senderror {
    color: #f00;
}

#senderror span {
    font-weight: bold;
}

.donate .modal-content {
    display: block;
}

.donate .button-block {
    margin-bottom: 30px;
    clear: both;
}

.donate .block {
    vertical-align: top;
}

.donate .modal-header {
    background: #ffeae5;
}

.donate p.modal-title {
    text-transform: uppercase;
    color: #262626;
    letter-spacing: .2em;
    font-weight: 700;
    line-height: 1;
}

.donate .button-cancel {
    background: #da251c;
    border-bottom: 4px solid #268658;
    color: #fff;
}

.donate .modal-footer {
    justify-content: space-around;
}

.raised {
    font-family: "Grand Hotel", cursive;
    font-size: 35px;
    color: #d8d8d8;
}

.raised span {
    color: #86c063;
}

.price-box {
    text-align: center;
    padding: 80px 0 100px;
    margin-bottom: 30px;
    position: relative;
    vertical-align: top;
    background: #2a2522;
    background: url("../img/pets-pattern.jpg") repeat 50% 0 fixed;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(32, 28, 27, 0.9)), to(rgba(32, 28, 27, 0.9))), url("../img/pets-pattern.jpg") repeat 50% 0 fixed;
    /* Saf4+, Chrome */
    background: -webkit-linear-gradient(top, rgba(32, 28, 27, 0.9), rgba(32, 28, 27, 0.9)), url("../img/pets-pattern.jpg") repeat 50% 0 fixed;
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(top, rgba(32, 28, 27, 0.9), rgba(32, 28, 27, 0.9)), url("../img/pets-pattern.jpg") repeat 50% 0 fixed;
    /* FF3.6+ */
    background: -ms-linear-gradient(top, rgba(32, 28, 27, 0.9), rgba(32, 28, 27, 0.9)), url("../img/pets-pattern.jpg") repeat 50% 0 fixed;
    /* IE10 */
    background: -o-linear-gradient(top, rgba(32, 28, 27, 0.9), rgba(32, 28, 27, 0.9)), url("../img/pets-pattern.jpg") repeat 50% 0 fixed;
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, rgba(32, 28, 27, 0.9), rgba(32, 28, 27, 0.9)), url("../img/pets-pattern.jpg") repeat 50% 0 fixed;
    /* W3C */
}

.price-box .title {
    color: #fefdfb;
}

.price-box .block {
    width: 28%;
    min-height: 370px;
    margin: 0 2%;
    display: inline-block;
    background: #fefdfb;
}

.price-box .block p {
    padding: 25px;
    background: #ffeae5;
    color: #afbb71;
    font-weight: 700;
    line-height: 1.8em;
}

.price-box .block p span {
    display: block;
    text-transform: uppercase;
    color: #262626;
    letter-spacing: .2em;
}

.price-box .block ul {
    margin: 0 10px 30px;
}

.price-box .block ul li {
    margin-bottom: 10px;
}

.price-box .block .button {
    float: none;
    display: inline-block;
    text-transform: uppercase;
}

.price-box .block.promo p {
    color: #fefdfb;
    background: #afbb71;
}

@media all and (max-width: 780px) {
    .price-box .block {
        width: 90%;
        margin: 0 0 30px;
        max-width: 400px;
    }
}

.price-box {
    margin-bottom: 0;
    margin-top: -18px;
}

.price-box .table {
    background-color: #fff;
}

.price-box tr th {
    background-color: #afbb71;
    text-transform: uppercase;
    color: #262626;
    line-height: 3rem;
    letter-spacing: .2em;
}

.price-box .table th {
    border: none;
}

.price-box .pagination {
    font: 1rem "Grand Hotel", cursive;
    outline: none;
}

.price-box .page-item.active .page-link {
    background-color: #da251c;
    border-color: #da251c;
}

.price-box .page-item.disabled .page-link {
    color: #000;
    background-color: transparent;
    border-color: transparent;
}

.price-box .page-item:last-child .page-link,
.price-box .page-item:first-child .page-link {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.price-box select {
    border: 1px solid #ffd5cc;
    background: transparent;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #ffd5cc;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.volunteer p {
    text-align: center;
}

.volunteer .button-holder {
    padding-left: 25px;
}

.volunteers {
    padding: 0 40px;
    position: relative;
}

.volunteers .flex-viewport ul {
    margin: 0;
}

.volunteers .flex-viewport ul li {
    float: left;
    margin: 0 50px 0 0;
    text-align: center;
    color: #afbb71;
}

@media all and (max-width: 800px) {
    .volunteers .flex-viewport ul li {
        width: 100%;
        margin-bottom: 10px;
    }
}

.volunteers .flex-viewport ul li strong {
    display: block;
    text-transform: uppercase;
    color: #262626;
    letter-spacing: .1em;
}

.volunteers .flex-viewport ul li:before {
    content: "";
}

.volunteers .flex-viewport img {
    width: 250px;
    height: 250px;
    background: #ffd5cc;
    padding: 10px;
    margin-bottom: 30px;
    -webkit-border-radius: 250px;
    border-radius: 250px;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.volunteer-image, .success-story img {
    position: absolute;
    z-index: 10;
    bottom: -125px;
    left: 50%;
    margin-left: -125px;
    border-radius: 50%;
    border: 8px solid #ffd5cc;
}

.button-holder {
    margin-bottom: 30px;
    clear: both;
}

.page, .contact, .educate {
    padding: 75px 0;
}

.contact, .educate {
    z-index: 1;
}

.success-story, .contact, .educate, .shop {
    text-align: center;
}

.success-story, .educate, .shop {
    background: #009a3e url("../img/paw_pattern.png");
    color: #1d2124;
}

.success-story h2, .success-story h3, .educate h2, .educate h3, .shop h3 {
    color: #ffd5cc;
}

.success-story h4, .educate h4 {
    color: #009a3e;
}

.success-story a, .success-story a:hover, .educate a, .educate a:hover {
    color: #fefdfb;
    text-decoration: underline;
}

.success-story {
    position: relative;
    padding-bottom: 164px;
    padding-top: 64px;
    margin-top: -15px;
}

.success-story h2, .success-story h3 {
    color: #fefdfb;
    margin-bottom: 15px;
}

.success-story .flex-control-nav.flex-control-paging {
    list-style-type: none;
    height: 10px;
    width: 100%;
    text-align: center;
}

.success-story .flex-control-nav.flex-control-paging li {
    display: inline-block;
    margin: 0 5px;
}

.success-story .flex-control-nav.flex-control-paging li a {
    display: block;
    width: 10px;
    height: 10px;
    text-indent: -9999px;
    background: #fefdfb;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-clip: padding-box;
}

.success-story .flex-control-nav.flex-control-paging li a:hover, .success-story .flex-control-nav.flex-control-paging li a.flex-active {
    background: #262626;
}

.success-story.testimonials {
    padding: 80px 0 100px;
}

.success-story.testimonials li h3 {
    color: #ffd5cc;
}

.success-story.testimonials li p {
    font-style: italic;
    font-size: 18px;
    margin: 0 0 10px;
}

.success-story.testimonials li span {
    font-style: italic;
    font-size: 18px;
    color: #262626;
}

.success-story.testimonials .flex-control-nav.flex-control-paging {
    position: relative;
    cursor: pointer;
    bottom: -30px;
}

/* 11. Educate Section */
/* -------------------- */
.educate a {
    color: #009a3e;
    text-decoration: none;
}

.educate a.news__title, .educate a.news__title:hover {
    color: #009a3e;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1rem;
    margin-bottom: 0;
    letter-spacing: .1em;
}

.educate a.news__title:hover,
.educate a:hover {
    color: #da251c;
    text-decoration: none;
}

.educate {
    margin-top: -18px;
    padding-top: 190px;
}

.educate h2, .educate h3 {
    margin-bottom: 60px;
}

.educate .card h2, .educate .card h3 {
    margin-bottom: 30px;
    line-height: 0.6;
}

.info li {
    margin-bottom: 5px;
}

.info li:before {
    content: "\f054";
    font-family: FontAwesome;
    margin-right: 10px;
}

.info li a:hover {
    text-decoration: none;
}

.section {
    width: 48%;
    text-align: left;
}

@media all and (max-width: 600px) {
    .section {
        width: 100%;
        margin-bottom: 20px;
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

@media all and (max-width: 600px) {
    .float-left, .float-right {
        float: none;
    }
}

.news div {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ffd5cc;
    padding-left: 70px;
    position: relative;
}

.news__main .card-body h3 {
    min-height: 90px;
    margin-bottom: 0;
}

.news__main .card {
    -webkit-box-shadow: 1px 1px 10px 5px rgba(255, 213, 204, 1);
    -moz-box-shadow: 1px 1px 10px 5px rgba(255, 213, 204, 1);
    box-shadow: 1px 1px 10px 5px rgba(255, 213, 204, 1);
}

.news__main .news__link_all {
    font: 1.5rem "Grand Hotel", cursive;
    text-decoration: underline;
    color: #fff;
}

.news__main .news__link_all:hover {
    color: #ffd5cc;
}

.news div:hover:before {
    color: #fefdfb;
}

.news div p {
    margin-bottom: 2px;
}

.news div.cancelation-policy:before {
    content: "\f017";
    font-family: FontAwesome;
    margin-right: 10px;
    position: absolute;
    left: 1px;
    font-size: 3.6em;
    color: #ffd5cc;
}

.news div:before {
    content: "\f073";
    font-family: FontAwesome;
    margin-right: 10px;
    position: absolute;
    left: 1px;
    font-size: 3.6em;
    color: #ffd5cc;
}

.news__item {
    background: #fefdfb;
}

.news__item .thumb {
    max-height: 250px;
    margin: 0 30px 0 0;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.news__item_block {
    display: flex;
    flex-direction: row;
}

.news__item_text {
    display: flex;
    flex-direction: column;
}

.card img {
    padding: 2%;
    max-height: 200px;
    max-width: 250px;
}

/* 14. Stripe */
/* -------------------- */
.stripe {
    background: url("../img/background-banner.jpg") top center;
    height: 200px;
}

/* 14. Contact Section */
/* -------------------- */
.contact {
    background: #2a2522 url("../img/background-contact.jpg") no-repeat 50% 0 fixed;
    color: #ffd5cc;
    text-align: center;
    margin-top: -18px;
    padding-top: 115px;
    padding-bottom: 45px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact h2, .contact h3, .contact h4 {
    margin-bottom: 35px;
}

.contact p {
    margin-bottom: 2.5px;
}

.contact .fa {
    color: #afbb71;
}

.contact .title {
    color: #fefdfb;
    margin-bottom: 0;
}

.contact input, .contact textarea {
    border: 1px solid #ffd5cc;
    background: #2a2522;
    background: transparent;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #ffd5cc;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contact form {
    margin-top: 60px;
}

.contact input {
    float: left;
    width: 46%;
    margin: 0 2% 20px;
}

@media all and (max-width: 600px) {
    .contact input {
        float: none;
        width: 96%;
    }
}

.contact textarea {
    width: 96%;
    margin-bottom: 20px;
}

.contact .error, .contact .message {
    line-height: 40px;
    margin-bottom: 0;
}

.contact button {
    padding: 15px 80px;
}

button, .button, .goods__btn_inform {
    background: #268658;
    border: none;
    border-bottom: 4px solid #da251c;
    padding: 15px 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #fefdfb;
    cursor: pointer;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.button:hover, .goods__btn_inform:hover {
    background: #da251c;
    border-bottom: 4px solid #268658;
    color: #fefdfb;
}

/* 15. Footer Section */
/* -------------------- */
.footer {
    padding: 40px 0;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    color: #262626;
}

.footer p {
    margin-bottom: 0;
}

.footer a {
    color: #afbb71;
}

.back {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

.back .container {
    position: relative;
}

.back a {
    width: 50px;
    height: 50px;
    background: #afbb71;
    text-align: center;
    color: #fefdfb;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.back a:hover {
    bottom: -6px;
}

.footer {
    background: #363b3f;
    padding: 70px 0 0
}

.footer h6 {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase
}

.footer p {
    color: #908f8f
}

.footer a {
    color: #65c178
}

.footer a:hover {
    color: #fff
}

.footer .title {
    margin-bottom: 15px
}

.footer .title a {
    font-weight: 700
}

.footer ul {
    margin: 0 0 30px;
    padding: 0;
    list-style: none
}

.footer ul li {
    background: url(/../img/arrow.png) 0 50% no-repeat;
    text-indent: 20px;
    margin-bottom: 10px
}

.footer ul li a {
    color: #908f8f
}

.footer ul li a:hover {
    color: #65c178
}

.footer .contact-info span {
    display: inline-block;
    width: 40px;
    color: #908f8f
}

.footer .contact-info .c-details {
    color: #65c178
}

.footer .contact-info .social {
    overflow: hidden
}

.footer .contact-info .social a {
    display: block;
    float: left;
    margin-right: 5px;
    height: 50px;
    width: 50px;
    background: #2a3034;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%
}

.footer .contact-info .social a:hover {
    background-color: #65c178;
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg)
}

.footer .contact-info .social a.fa-facebook,
.footer .contact-info .social a.fa {
    padding: 12px 17px;
    font-size: 1.5rem;
}

.footer .contact-info .social a.fa-vk {
    padding: 12px;
}

.footer .copyright {
    border-top: 2px solid #4a4f53;
    padding-top: 30px
}

.footer .copyright a {
    color: #fff
}

.footer .copyright a:hover {
    color: #65c178
}

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6 {
    text-transform: uppercase;
    font-family: cabin, sans-serif;
    margin: 0 0 30px
}

.footer h3 span {
    background: #fff;
    display: inline-block;
    height: 100%;
    padding: 0 25px
}

.footer p {
    margin-bottom: 30px
}

.footer a {
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    color: #65c178
}

.footer a:hover {
    text-decoration: none;
    color: #585858
}

.slogan,
.contacts {
    font-weight: bold;
    text-transform: uppercase;
}

.slogan,
.contacts p {
    color: #262626;
    letter-spacing: .2em;
}

.slogan {
    color: #da251c;
}

/* News section */

.card {
    text-align: left;
    color: #000;
    border-radius: 0;
}

/* Animals */

.animals .page.top-pattern {
    margin: -30px 0 0 30px;
    min-height: 1500px;
}

.animals .adopt {
    min-height: 1565px;
}

div.animals {
    padding: 190px 45px 0;
    background: #009a3e url(../img/paw_pattern.png);
    color: #1d2124;
    margin-top: -18px;
    text-align: center;
    z-index: 1;
}

.animals h3 {
    color: #009a3e;
}

.animals .adopt img {
    width: auto;
    max-height: 280px;
}

.animal {
    position: relative;
}

.animal-block {
    overflow: hidden;
}

.animal-block a {
    display: block;
    width: 85%;
    height: 280px;
    position: absolute;
    top: -1%;
    left: 10%;
    background: url(../img/sprite-group-full.png) no-repeat 0 0;
    color: #009a3e;
    font-weight: bold;
    font: 1.5rem "Grand Hotel", cursive;

}

@media all and (max-width: 1200px) {
    .animal-block a {
        width: 66%;
        left: 17%;
    }
}

@media all and (max-width: 992px) {
    .animal-block a {
        width: 90%;
        left: 7%;
    }
}

@media all and (max-width: 768px) {
    .animal-block a {
        width: 60%;
        left: 20%;
    }

    .adopt img {
        max-height: 230px;
    }
}

@media all and (max-width: 480px) {
    .animal-block a {
        width: 70%;
        left: 12%;
    }
}

@media all and (max-width: 380px) {
    .animal-block a {
        width: 92%;
        left: 3%;
    }
}

.crop {
    overflow: hidden;
    width: 270px;
    height: 275px;
}

.adopt {
    background: #fff;
    position: relative;
    z-index: 1;
    padding-top: 45px;
    margin-top: -55px;
}

.animals .page:before {
    content: "";
    position: absolute;
    width: 144.5%;
    height: 102%;
    top: 0;
    left: 7px;
    z-index: -1;
    background: url(../img/halfcircle_pattern2.png) 0 0 repeat-x;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.animals .page:after {
    content: "";
    position: absolute;
    width: 146%;
    height: 102%;
    top: 0;
    right: 0;
    z-index: -1;
    background: url(../img/halfcircle_pattern2.png) 0 0 repeat-x;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(90deg);
}

@media all and (max-width: 1250px) {

    .animals .page:before,
    .animals .page:after {
        background: none;
    }

}

/* End Animals section */

/* Start Shop section */

.shop {
    margin-top: -18px;
    padding: 75px 0;
}

.shop h3 {
    padding-bottom: 30px;
}

.shop .card img {
    align-self: center;
    padding: 0;
    max-height: 250px;
    max-width: 100%;
}

.shop .card {
    border-radius: initial;
    min-height: 400px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(255, 213, 204, 1);
    -moz-box-shadow: 0px 0px 5px 3px rgba(255, 213, 204, 1);
    box-shadow: 0px 0px 5px 3px rgba(255, 213, 204, 1);
}

.shop .card-footer {
    background-color: transparent;
    border-top: 0;
}

.goods__btn,
.goods__btn_inform {
    background: #afbb71;
    border-bottom: 4px solid #9aa851;
    color: #fefdfb;
}

.goods__btn:hover,
.goods__btn_inform:hover {
    background: #ffd5cc;
    border-bottom: 4px solid #ffd5cc;
    color: #afbb71;
}

.goods__title_inform {
    min-height: 60px;
}

.goods__box_inform {
    overflow: hidden;
    position: relative;
}

.goods__list_inform {
    width: 1200%;
    transition-duration: 1.2s;
    transform: translate3d(-620px, 0px, 0px);
}

.goods__block_inform {
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid #e3e3e3;
}

.shop .card-title {
    min-height: 45px;
}

.shop .card-text {
    min-height: 60px;
}

.shop__contact {
    font: 1.5rem "Grand Hotel", cursive;
    padding-right: 15px;
}

.shop .modal-header {
    background: #fff;
    justify-content: space-between;
    width: 100%;
}

.shop h5.modal-title,
.shop__order {
    color: #009a3e;
}

.shop__id {
    justify-content: flex-end;
    font: 0.8rem "Grand Hotel", cursive;
    font-weight: bold;
    display: flex;
}

.shop__btn_close {
    background-color: #fe2014;
    text-transform: initial;
}

/* End shop section */

/* Pagination */

.pagination {
    font: 1.1rem "Grand Hotel", cursive;
}

.container .page-item.active .page-link {
    color: #da251c;
    background-color: transparent;
    border: none;
}

.container .page-link {
    border: none;
    color: #268658;
}

.container .page-link:focus, .page-link:active {
    outline: none;
}